In [11]:
!pip install pymysql
!pip install apyori
!pip install pandas
!pip install matplotlib
!pip install seaborn 
!pip install python-dotenv

Requirement already satisfied: pymysql in c:\users\ihand\appdata\local\programs\python\python39\lib\site-packages (1.0.2)
Requirement already satisfied: apyori in c:\users\ihand\appdata\local\programs\python\python39\lib\site-packages (1.1.2)
Requirement already satisfied: pandas in c:\users\ihand\appdata\local\programs\python\python39\lib\site-packages (1.2.4)
Requirement already satisfied: numpy>=1.16.5 in c:\users\ihand\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.20.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\ihand\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\ihand\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\ihand\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: matplotlib in c:\users\ihand\appdata\local\programs\python\python39\lib\site-packages (3.4.1)
Requirement already satisfied: cycler>=0.10 in c:\users\ihand\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\ihand\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ihand\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\ihand\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\ihand\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (8.2.0)
Requirement already satisfied: numpy>=1.16 in c:\users\ihand\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (1.20.2)
Requirement already satisfied: six in c:\users\ihand\appdata\local\programs\python\python39\lib\site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Requirement already satisfied: seaborn in c:\users\ihand\appdata\local\programs\python\python39\lib\site-packages (0.11.1)
Requirement already satisfied: scipy>=1.0 in c:\users\ihand\appdata\local\programs\python\python39\lib\site-packages (from seaborn) (1.6.3)
Requirement already satisfied: numpy>=1.15 in c:\users\ihand\appdata\local\programs\python\python39\lib\site-packages (from seaborn) (1.20.2)
Requirement already satisfied: pandas>=0.23 in c:\users\ihand\appdata\local\programs\python\python39\lib\site-packages (from seaborn) (1.2.4)
Requirement already satisfied: matplotlib>=2.2 in c:\users\ihand\appdata\local\programs\python\python39\lib\site-packages (from seaborn) (3.4.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\ihand\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ihand\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\ihand\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (8.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\ihand\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\ihand\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: six in c:\users\ihand\appdata\local\programs\python\python39\lib\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\ihand\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.23->seaborn) (2021.1)
Requirement already satisfied: python-dotenv in c:\users\ihand\appdata\local\programs\python\python39\lib\site-packages (0.17.1)

In [69]:
# Imported Libraries
import pandas as pd
import pymysql

import os

# Data visualisation tools for later.
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from apyori import apriori


# Load the .env file for database credentials
from dotenv import load_dotenv

# load_dotenv()

####### Connection to Client Database #######
# conn = pymysql.connect(host=os.getenv("host"), user=os.getenv("user"), port=int(os.getenv("port")), password=os.getenv("password"), db=os.getenv("dbname"))

#### TEMPORARY SOLUTION ####
host="qut-ds.c2m09j1oykve.ap-southeast-2.rds.amazonaws.com"
port=4005
dbname="qut_ds1"
user="qut_ds1"
password="GaAVSqC#9JR8"
conn = pymysql.connect(host=host, user=user,port=port,password=password, db=dbname)

print(conn)

<pymysql.connections.Connection object at 0x000002CA8052FE80>

### Getting Customer-users detail - make dataframe

In [13]:
###Customer Personal details

df_user= pd.read_sql("select m.id as member_id, m.membership_number, m.status, m.price_zone_code, s.u_ndis_number, s.u_disabilities, s.u_gender, s.u_date_of_birth, r.SA1, r.SA2, r.SA3,r.SA4  from SNOW_csm_consumer_user s left join  HH_member m  on s.u_ndis_number = m.membership_number left join libe_leapinprod_memberregion r on r.MemberId = s.u_leapin_id where s.u_stage = 'li_managed' and s.u_ndis_number is not null;", con=conn)
                                  
df_user.info()
df_user.head(50)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6241 entries, 0 to 6240
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   member_id          6115 non-null   float64
 1   membership_number  6115 non-null   object
 2   status             6115 non-null   object
 3   price_zone_code    6115 non-null   object
 4   u_ndis_number      6241 non-null   object
 5   u_disabilities     6241 non-null   object
 6   u_gender           6241 non-null   object
 7   u_date_of_birth    6239 non-null   object
 8   SA1                6021 non-null   float64
 9   SA2                6021 non-null   float64
 10  SA3                6021 non-null   float64
 11  SA4                6021 non-null   float64
dtypes: float64(5), object(7)
memory usage: 585.2+ KB

,member_id,membership_number,status,price_zone_code,u_ndis_number,u_disabilities,u_gender,u_date_of_birth,SA1,SA2,SA3,SA4
0,1613.0,916644409,managed,ACT_NSW_QLD_VIC,916644409,,,1922-11-30,3100614.0,31006.0,30101.0,301.0
1,3132.0,262354568,managed,ACT_NSW_QLD_VIC,262354568,,,2007-04-06,1144614.0,11446.0,12303.0,123.0
2,1786.0,233367363,managed,ACT_NSW_QLD_VIC,233367363,,Female,1954-03-26,0.0,0.0,0.0,0.0
3,2562.0,981297214,managed,ACT_NSW_QLD_VIC,981297214,,Female,1978-12-24,3138504.0,31385.0,31401.0,314.0
4,1614.0,631304335,managed,ACT_NSW_QLD_VIC,631304335,,,1995-08-18,2142119.0,21421.0,21701.0,217.0
5,1700.0,67836654,managed,NT_SA_TAS_WA,67836654,,Female,1937-01-25,4106012.0,41060.0,40302.0,403.0
6,3803.0,746607176,managed,ACT_NSW_QLD_VIC,746607176,I am recovering from a stroke I had in 2,Male,1980-09-28,3131211.0,31312.0,31103.0,311.0
7,1738.0,391263441,managed,ACT_NSW_QLD_VIC,391263441,Sciatica,Female,1945-05-23,0.0,0.0,0.0,0.0
8,5162.0,526764245,managed,ACT_NSW_QLD_VIC,526764245,,Male,1933-07-11,2120223.0,21202.0,20901.0,209.0
9,1818.0,692294955,managed,ACT_NSW_QLD_VIC,692294955,,Female,1925-09-09,3123701.0,31237.0,30903.0,309.0
10,1846.0,929294204,managed,ACT_NSW_QLD_VIC,929294204,,Male,1948-12-04,3136522.0,31365.0,31302.0,313.0
11,4129.0,996368118,managed,ACT_NSW_QLD_VIC,996368118,Usher syndrome,,1955-12-29,0.0,0.0,0.0,0.0
12,3762.0,577302380,managed,ACT_NSW_QLD_VIC,577302380,Vision Impaired,Female,1939-07-30,3102737.0,31027.0,30202.0,302.0
13,20.0,411349503,managed,ACT_NSW_QLD_VIC,411349503,,Male,1922-05-30,1111516.0,11115.0,10602.0,106.0
14,3142.0,513580381,managed,ACT_NSW_QLD_VIC,513580381,,Male,1982-07-06,0.0,0.0,0.0,0.0
15,4155.0,921237397,managed,ACT_NSW_QLD_VIC,921237397,,,1973-12-02,3147515.0,31475.0,31802.0,318.0
16,3836.0,984450760,managed,NT_SA_TAS_WA,984450760,,,1955-12-25,3112701.0,31127.0,30503.0,305.0
17,1796.0,188998989,managed,ACT_NSW_QLD_VIC,188998989,,Female,1924-03-09,3124626.0,31246.0,30906.0,309.0
18,470.0,227507869,managed,ACT_NSW_QLD_VIC,227507869,,Male,1928-03-23,2118702.0,21187.0,20803.0,208.0
19,3784.0,390220737,managed,ACT_NSW_QLD_VIC,390220737,,,1994-05-23,3133607.0,31336.0,31106.0,311.0
20,4186.0,776016548,managed,ACT_NSW_QLD_VIC,776016548,,Female,1934-10-10,0.0,0.0,0.0,0.0
21,1616.0,26509924,managed,ACT_NSW_QLD_VIC,26509924,,Male,1933-01-10,3103214.0,31032.0,30202.0,302.0
22,4229.0,781118175,managed,ACT_NSW_QLD_VIC,781118175,,,1934-10-12,3133015.0,31330.0,31106.0,311.0
23,3502.0,445885932,managed,ACT_NSW_QLD_VIC,445885932,,,1975-06-12,0.0,0.0,0.0,0.0
24,4103.0,145276585,managed,ACT_NSW_QLD_VIC,145276585,,Female,1995-02-22,3105917.0,31059.0,30302.0,303.0
25,2655.0,425042002,managed,ACT_NSW_QLD_VIC,425042002,,Female,1923-06-04,3128721.0,31287.0,31003.0,310.0
26,4203.0,246973395,managed,ACT_NSW_QLD_VIC,246973395,,Male,2005-03-31,3113724.0,31137.0,30504.0,305.0
27,3622.0,140881962,managed,ACT_NSW_QLD_VIC,140881962,,,1969-02-21,0.0,0.0,0.0,0.0
28,1754.0,583894312,managed,ACT_NSW_QLD_VIC,583894312,,Male,1990-08-01,0.0,0.0,0.0,0.0
29,1718.0,208464515,managed,ACT_NSW_QLD_VIC,208464515,"Multiple Sclerosis, Arrested hydrocephalus, Na...",,2002-03-17,0.0,0.0,0.0,0.0
30,1686.0,619163178,managed,ACT_NSW_QLD_VIC,619163178,"Anxiety and stress , Full Deaf",,1968-08-13,3144816.0,31448.0,31701.0,317.0
31,3109.0,197477964,managed,ACT_NSW_QLD_VIC,197477964,,Male,1950-03-13,3105621.0,31056.0,30302.0,303.0
32,1699.0,207732077,managed,ACT_NSW_QLD_VIC,207732077,,Male,1976-03-16,1143710.0,11437.0,12302.0,123.0
33,3525.0,102261181,managed,ACT_NSW_QLD_VIC,102261181,Parkinson's disease,,1941-02-07,3141408.0,31414.0,31601.0,316.0
34,3808.0,167870223,managed,ACT_NSW_QLD_VIC,167870223,Stroke (cerebellar),Female,1972-03-02,3124427.0,31244.0,30905.0,309.0
35,5128.0,707365858,managed,ACT_NSW_QLD_VIC,707365858,,,1977-09-15,2146512.0,21465.0,21305.0,213.0
36,3782.0,216211052,managed,ACT_NSW_QLD_VIC,216211052,,,1953-03-20,3116004.0,31160.0,30603.0,306.0
37,3781.0,845908311,managed,ACT_NSW_QLD_VIC,845908311,Intellectual disability,,1991-11-04,2116403.0,21164.0,20703.0,207.0
38,4142.0,303681294,managed,ACT_NSW_QLD_VIC,303681294,Intellectual disability,Male,1985-04-21,1156709.0,11567.0,11802.0,118.0
39,1731.0,421293349,managed,ACT_NSW_QLD_VIC,421293349,,,1923-06-03,0.0,0.0,0.0,0.0
40,3850.0,855429986,managed,ACT_NSW_QLD_VIC,855429986,,,1991-11-08,3152114.0,31521.0,31904.0,319.0
41,1878.0,141390601,managed,ACT_NSW_QLD_VIC,141390601,,Male,1994-02-21,3137229.0,31372.0,31304.0,313.0
42,1766.0,819428686,managed,ACT_NSW_QLD_VIC,819428686,Intellectual disability,,1938-10-26,3130907.0,31309.0,31102.0,311.0
43,1886.0,413546812,managed,ACT_NSW_QLD_VIC,413546812,Hearing Impairment,Female,1922-05-31,0.0,0.0,0.0,0.0
44,3818.0,16367712,managed,ACT_NSW_QLD_VIC,16367712,,Male,1982-01-06,3111220.0,31112.0,30501.0,305.0
45,1770.0,73273980,managed,ACT_NSW_QLD_VIC,73273980,,,2012-01-27,3136540.0,31365.0,31302.0,313.0
46,1713.0,630459999,managed,ACT_NSW_QLD_VIC,630459999,,Male,1995-08-18,1139855.0,11398.0,12101.0,121.0
47,1706.0,130826214,managed,ACT_NSW_QLD_VIC,130826214,"Asperger syndrome, chronic inflammatory demyel...",,2019-02-17,0.0,0.0,0.0,0.0
48,1626.0,259226452,managed,ACT_NSW_QLD_VIC,259226452,,Male,1981-04-05,1142104.0,11421.0,12202.0,122.0
49,2557.0,516510129,managed,ACT_NSW_QLD_VIC,516510129,,Female,1932-07-07,0.0,0.0,0.0,0.0

In [14]:
df_user['u_disabilities'].value_counts()

                                                                                                                                                       4922
Intellectual disability                                                                                                                                  98
ADHD                                                                                                                                                     61
Cerebral palsy                                                                                                                                           42
Down syndrome                                                                                                                                            41
                                                                                                                                                       ...
Intellectual disability, Deaf                                                                                                                             1
Developmental delay - language & communi, Developmental delay - Personal-Social-Em, Developmental delay - gross motor, Autism (awaiting assessment)       1
Fibromyalgia , Depression , Anxiety, Functional Neurological disorder                                                                                     1
Hearing Impairment, Crouzon syndrome                                                                                                                      1
Anxiety, Eating Disorder, Depression                                                                                                                      1
Name: u_disabilities, Length: 602, dtype: int64

### Getting Services Providers detail - make dataframe

In [15]:
### Service Providers Details:

#df_providers_details = pd.read_sql("select p.id, pa.provider_account_key, p.is_inactive, p.abn, ca.city, ca.country from HH_provider_account pa join HH_provider p on p.id = pa.provider_id join SNOW_customer_account ca on ca.u_abn = p.abn;", con=conn)

#print(df_providers_details.info())

#df_providers_details.head(50)

### Getting Claims and Invoice details - make dataframe

In [16]:
### Getting Claims details: 

df_claims= pd.read_sql("SELECT c.id as claim_id, c.invoice_id, c.state, c.risk_level, c.start_date FROM HH_claim c;", con=conn)
df_claims.info()
df_claims.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 968874 entries, 0 to 968873
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   claim_id    968874 non-null  int64
 1   invoice_id  968874 non-null  int64
 2   state       968874 non-null  object
 3   risk_level  968874 non-null  object
 4   start_date  968874 non-null  object
dtypes: int64(2), object(3)
memory usage: 37.0+ MB

   claim_id  invoice_id state risk_level  start_date
0         1           1  PAID         NO  2020-04-30
1         2           2  PAID         NO  2020-05-01
2         3           3  PAID         NO  2020-04-23
3         4           4  PAID         NO  2020-04-30
4         5           5  PAID         NO  2020-05-07
5         6           6  PAID         NO  2020-05-07
6         7           7  PAID         NO  2020-05-12
7         8           8  PAID         NO  2020-05-14
8         9           9  PAID         NO  2020-05-14
9        10          10  PAID         NO  2020-05-16

In [17]:
###Getting Invoice Details

df_invoices= pd.read_sql("SELECT i.id as invoice_id, i.member_id, i.invoice_total, i.funded_total, i.funded_date FROM HH_invoice i;", con=conn)
df_invoices.info()
df_invoices.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 518376 entries, 0 to 518375
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   invoice_id     518376 non-null  int64
 1   member_id      518376 non-null  int64
 2   invoice_total  518376 non-null  float64
 3   funded_total   281714 non-null  float64
 4   funded_date    276521 non-null  object
dtypes: float64(2), int64(2), object(1)
memory usage: 19.8+ MB

   invoice_id  member_id  invoice_total  funded_total funded_date
0           1          2         160.00        160.00  2020-04-30
1           2          2         160.00        160.00  2020-05-05
2           3          3          80.00         80.00  2020-05-08
3           4          3          80.00         80.00  2020-05-08
4           5          3          80.00         80.00  2020-05-08
5           6          4         214.41        214.41  2020-05-12
6           7          2         130.00        130.00  2020-05-13
7           8          2         130.00        130.00  2020-05-15
8           9          4         428.82        428.82  2020-05-18
9          10          4         214.41        214.41  2020-05-18

In [18]:
### Merging

df_invoice_claim = pd.merge(df_claims, df_invoices, on="invoice_id", how="left")

df_invoice_claim.info()
df_invoice_claim.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 968874 entries, 0 to 968873
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   claim_id       968874 non-null  int64
 1   invoice_id     968874 non-null  int64
 2   state          968874 non-null  object
 3   risk_level     968874 non-null  object
 4   start_date     968874 non-null  object
 5   member_id      968874 non-null  int64
 6   invoice_total  968874 non-null  float64
 7   funded_total   566458 non-null  float64
 8   funded_date    556790 non-null  object
dtypes: float64(2), int64(3), object(4)
memory usage: 73.9+ MB

,claim_id,invoice_id,state,risk_level,start_date,member_id,invoice_total,funded_total,funded_date
0,1,1,PAID,NO,2020-04-30,2,160.0,160.0,2020-04-30
1,2,2,PAID,NO,2020-05-01,2,160.0,160.0,2020-05-05
2,3,3,PAID,NO,2020-04-23,3,80.0,80.0,2020-05-08
3,4,4,PAID,NO,2020-04-30,3,80.0,80.0,2020-05-08
4,5,5,PAID,NO,2020-05-07,3,80.0,80.0,2020-05-08

In [19]:
# Mapping users' disability type:
df = pd.merge(df_invoice_claim, df_user, on="member_id", how="left")
df

,claim_id,invoice_id,state,risk_level,start_date,member_id,invoice_total,funded_total,funded_date,membership_number,status,price_zone_code,u_ndis_number,u_disabilities,u_gender,u_date_of_birth,SA1,SA2,SA3,SA4
0,1,1,PAID,NO,2020-04-30,2,160.00,160.0,2020-04-30,277486509,managed,ACT_NSW_QLD_VIC,277486509,,Male,1958-04-12,3110117.0,31101.0,30404.0,304.0
1,2,2,PAID,NO,2020-05-01,2,160.00,160.0,2020-05-05,277486509,managed,ACT_NSW_QLD_VIC,277486509,,Male,1958-04-12,3110117.0,31101.0,30404.0,304.0
2,3,3,PAID,NO,2020-04-23,3,80.00,80.0,2020-05-08,815939440,managed,ACT_NSW_QLD_VIC,815939440,,Female,1937-10-25,3130913.0,31309.0,31102.0,311.0
3,4,4,PAID,NO,2020-04-30,3,80.00,80.0,2020-05-08,815939440,managed,ACT_NSW_QLD_VIC,815939440,,Female,1937-10-25,3130913.0,31309.0,31102.0,311.0
4,5,5,PAID,NO,2020-05-07,3,80.00,80.0,2020-05-08,815939440,managed,ACT_NSW_QLD_VIC,815939440,,Female,1937-10-25,3130913.0,31309.0,31102.0,311.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968869,1006095,539315,OPERATOR_AUTHORIZED,NO,2021-04-08,3000,2135.70,NaN,None,265655619,managed,ACT_NSW_QLD_VIC,265655619,,Other,1981-04-07,0.0,0.0,0.0,0.0
968870,1006096,539315,OPERATOR_AUTHORIZED,NO,2021-04-10,3000,2135.70,NaN,None,265655619,managed,ACT_NSW_QLD_VIC,265655619,,Other,1981-04-07,0.0,0.0,0.0,0.0
968871,1006097,539315,OPERATOR_AUTHORIZED,NO,2021-04-11,3000,2135.70,NaN,None,265655619,managed,ACT_NSW_QLD_VIC,265655619,,Other,1981-04-07,0.0,0.0,0.0,0.0
968872,1006098,539316,OPERATOR_AUTHORIZED,NO,2021-04-15,3607,396.57,NaN,None,615053396,managed,ACT_NSW_QLD_VIC,615053396,Parkinson's disease,Male,1943-08-12,3136525.0,31365.0,31302.0,313.0
968873,1006099,539316,OPERATOR_AUTHORIZED,NO,2021-04-15,3607,396.57,NaN,None,615053396,managed,ACT_NSW_QLD_VIC,615053396,Parkinson's disease,Male,1943-08-12,3136525.0,31365.0,31302.0,313.0

In [20]:
#Groupby member_id 

df1 = df.groupby(["membership_number"]).agg({'invoice_total': 'sum', 'funded_total': 'sum'}).reset_index()

#df_invoice_claim['invoice_total'] = df_invoice_claim.groupby(['member_id'])['invoice_total'].transform('sum')

df1

     membership_number  invoice_total  funded_total
0            100211377        3131.25       3131.25
1            100348708      105389.55      48738.66
2            100633545       99779.60      95339.64
3            100969245      430467.16     386833.71
4             10121655        1260.94       1260.94
...                ...            ...           ...
5723         999135104       13635.22      11058.42
5724         999445370        4736.14       4635.56
5725         999496234        5210.52       4431.51
5726         999694603       17519.26       9040.34
5727         999781070      351476.09     328188.72

[5728 rows x 3 columns]

In [21]:
#subtract the invoice_total to fudned_total to see how user get reimbursemente - creat subtraction column

df1['subtraction'] = df1['invoice_total'] - df1['funded_total']
df1

     membership_number  invoice_total  funded_total  subtraction
0            100211377        3131.25       3131.25         0.00
1            100348708      105389.55      48738.66     56650.89
2            100633545       99779.60      95339.64      4439.96
3            100969245      430467.16     386833.71     43633.45
4             10121655        1260.94       1260.94         0.00
...                ...            ...           ...          ...
5723         999135104       13635.22      11058.42      2576.80
5724         999445370        4736.14       4635.56       100.58
5725         999496234        5210.52       4431.51       779.01
5726         999694603       17519.26       9040.34      8478.92
5727         999781070      351476.09     328188.72     23287.37

[5728 rows x 4 columns]

In [22]:
### Merging again
df2 = pd.merge(df1, df_user, on="membership_number", how="left")
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5730 entries, 0 to 5729
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   membership_number  5730 non-null   object
 1   invoice_total      5730 non-null   float64
 2   funded_total       5730 non-null   float64
 3   subtraction        5730 non-null   float64
 4   member_id          5730 non-null   float64
 5   status             5730 non-null   object
 6   price_zone_code    5730 non-null   object
 7   u_ndis_number      5730 non-null   object
 8   u_disabilities     5730 non-null   object
 9   u_gender           5730 non-null   object
 10  u_date_of_birth    5729 non-null   object
 11  SA1                5609 non-null   float64
 12  SA2                5609 non-null   float64
 13  SA3                5609 non-null   float64
 14  SA4                5609 non-null   float64
dtypes: float64(8), object(7)
memory usage: 716.2+ KB

In [23]:
df2.head(20)

,membership_number,invoice_total,funded_total,subtraction,member_id,status,price_zone_code,u_ndis_number,u_disabilities,u_gender,u_date_of_birth,SA1,SA2,SA3,SA4
0,100211377,3131.25,3131.25,0.00,5793.0,managed,ACT_NSW_QLD_VIC,100211377,,Male,1966-02-06,NaN,NaN,NaN,NaN
1,100348708,105389.55,48738.66,56650.89,2700.0,managed,ACT_NSW_QLD_VIC,100348708,,Female,1966-02-06,0.0,0.0,0.0,0.0
2,100633545,99779.60,95339.64,4439.96,5365.0,managed,ACT_NSW_QLD_VIC,100633545,,Female,1991-02-06,3125124.0,31251.0,30907.0,309.0
3,100969245,430467.16,386833.71,43633.45,3267.0,managed,ACT_NSW_QLD_VIC,100969245,,Female,1967-02-06,3136525.0,31365.0,31302.0,313.0
4,10121655,1260.94,1260.94,0.00,5642.0,managed,ACT_NSW_QLD_VIC,10121655,,Male,1981-01-04,0.0,0.0,0.0,0.0
5,101279515,4810.00,4180.00,630.00,1092.0,managed,ACT_NSW_QLD_VIC,101279515,,Female,1990-02-06,0.0,0.0,0.0,0.0
6,101391416,107771.99,94603.44,13168.55,1042.0,managed,ACT_NSW_QLD_VIC,101391416,Intellectual disability,Female,1967-02-06,3124942.0,31249.0,30906.0,309.0
7,101477884,28537.95,28291.27,246.68,3712.0,managed,NT_SA_TAS_WA,101477884,Anxiety,Male,1992-02-06,0.0,0.0,0.0,0.0
8,101503314,103055.72,102695.78,359.94,5497.0,managed,NT_SA_TAS_WA,101503314,,Female,1941-02-06,5104305.0,51043.0,50302.0,503.0
9,101528743,17048064.52,5614195.49,11433869.03,3611.0,managed,ACT_NSW_QLD_VIC,101528743,,,1967-02-06,0.0,0.0,0.0,0.0
10,101676253,1719.85,1719.85,0.00,5800.0,managed,ACT_NSW_QLD_VIC,101676253,ASD,Male,1992-02-07,3144716.0,31447.0,31701.0,317.0
11,101701683,61064.03,43086.19,17977.84,3340.0,managed,NT_SA_TAS_WA,101701683,,Female,2015-02-07,6103127.0,61031.0,60105.0,601.0
12,10172518,46993.99,31832.62,15161.37,1945.0,managed,ACT_NSW_QLD_VIC,10172518,,,1981-01-04,2146621.0,21466.0,21305.0,213.0
13,101950915,579249.26,116122.35,463126.91,3570.0,managed,ACT_NSW_QLD_VIC,101950915,,,1990-02-07,3117014.0,31170.0,30605.0,306.0
14,101986519,528.48,528.48,0.00,6265.0,managed,ACT_NSW_QLD_VIC,101986519,,Male,1941-02-07,0.0,0.0,0.0,0.0
15,102011953,215433.65,160957.65,54476.00,3353.0,managed,ACT_NSW_QLD_VIC,102011953,,Female,1965-02-07,3101623.0,31016.0,30103.0,301.0
16,102098420,9466.53,9466.53,0.00,5371.0,managed,ACT_NSW_QLD_VIC,102098420,,Female,2015-02-07,0.0,0.0,0.0,0.0
17,102261181,52019.55,17483.21,34536.34,3525.0,managed,ACT_NSW_QLD_VIC,102261181,Parkinson's disease,,1941-02-07,3141408.0,31414.0,31601.0,316.0
18,102322219,2723.13,2428.96,294.17,1288.0,managed,ACT_NSW_QLD_VIC,102322219,,Male,1990-02-07,3153415.0,31534.0,30805.0,308.0
19,102408690,21177.45,21177.46,-0.01,5805.0,managed,ACT_NSW_QLD_VIC,102408690,,Female,1941-02-07,3139404.0,31394.0,31403.0,314.0

In [24]:
#Select interested columns
cols_of_interest = {'membership_number', 'invoice_total', 'funded_total', 'subtraction', 'status', 'price_zone_code', 
                   'u_disabilities', 'u_gender'}
df2 = df2[cols_of_interest]
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5730 entries, 0 to 5729
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   subtraction        5730 non-null   float64
 1   u_gender           5730 non-null   object
 2   membership_number  5730 non-null   object
 3   status             5730 non-null   object
 4   price_zone_code    5730 non-null   object
 5   u_disabilities     5730 non-null   object
 6   funded_total       5730 non-null   float64
 7   invoice_total      5730 non-null   float64
dtypes: float64(3), object(5)
memory usage: 402.9+ KB

In [25]:
#Re-arrange that mess

df2 = df2[['membership_number', 'invoice_total', 'funded_total', 'subtraction',   
                   'u_disabilities', 'u_gender','price_zone_code','status']]

df2.head(20)

,membership_number,invoice_total,funded_total,subtraction,u_disabilities,u_gender,price_zone_code,status
0,100211377,3131.25,3131.25,0.00,,Male,ACT_NSW_QLD_VIC,managed
1,100348708,105389.55,48738.66,56650.89,,Female,ACT_NSW_QLD_VIC,managed
2,100633545,99779.60,95339.64,4439.96,,Female,ACT_NSW_QLD_VIC,managed
3,100969245,430467.16,386833.71,43633.45,,Female,ACT_NSW_QLD_VIC,managed
4,10121655,1260.94,1260.94,0.00,,Male,ACT_NSW_QLD_VIC,managed
5,101279515,4810.00,4180.00,630.00,,Female,ACT_NSW_QLD_VIC,managed
6,101391416,107771.99,94603.44,13168.55,Intellectual disability,Female,ACT_NSW_QLD_VIC,managed
7,101477884,28537.95,28291.27,246.68,Anxiety,Male,NT_SA_TAS_WA,managed
8,101503314,103055.72,102695.78,359.94,,Female,NT_SA_TAS_WA,managed
9,101528743,17048064.52,5614195.49,11433869.03,,,ACT_NSW_QLD_VIC,managed
10,101676253,1719.85,1719.85,0.00,ASD,Male,ACT_NSW_QLD_VIC,managed
11,101701683,61064.03,43086.19,17977.84,,Female,NT_SA_TAS_WA,managed
12,10172518,46993.99,31832.62,15161.37,,,ACT_NSW_QLD_VIC,managed
13,101950915,579249.26,116122.35,463126.91,,,ACT_NSW_QLD_VIC,managed
14,101986519,528.48,528.48,0.00,,Male,ACT_NSW_QLD_VIC,managed
15,102011953,215433.65,160957.65,54476.00,,Female,ACT_NSW_QLD_VIC,managed
16,102098420,9466.53,9466.53,0.00,,Female,ACT_NSW_QLD_VIC,managed
17,102261181,52019.55,17483.21,34536.34,Parkinson's disease,,ACT_NSW_QLD_VIC,managed
18,102322219,2723.13,2428.96,294.17,,Male,ACT_NSW_QLD_VIC,managed
19,102408690,21177.45,21177.46,-0.01,,Female,ACT_NSW_QLD_VIC,managed

In [26]:
#Checking u_dis

df2['u_disabilities'].value_counts()

                                                                                      4493
Intellectual disability                                                                 93
ADHD                                                                                    59
Down syndrome                                                                           40
Cerebral palsy                                                                          39
                                                                                      ...
Mental health, Intellectual impairment                                                   1
Asperger syndrome, chronic inflammatory demyelinating polyn                              1
Attention deficit hyperactivity disorder, Anxiety , Oppositional defiance disorder       1
Acquired Brain Injury, Stroke (cerebellar)                                               1
Visual, hearing and cognitive impairment                                                 1
Name: u_disabilities, Length: 569, dtype: int64

In [27]:
#df2['u_disabilities'].mask(df2['u_disabilities'] == ' ', "others", inplace = False)
df2['u_disabilities'] = df2['u_disabilities'].replace([''],'others')

df2['u_disabilities'].value_counts()

others                                                                                4493
Intellectual disability                                                                 93
ADHD                                                                                    59
Down syndrome                                                                           40
Cerebral palsy                                                                          39
                                                                                      ...
Mental health, Intellectual impairment                                                   1
Asperger syndrome, chronic inflammatory demyelinating polyn                              1
Attention deficit hyperactivity disorder, Anxiety , Oppositional defiance disorder       1
Acquired Brain Injury, Stroke (cerebellar)                                               1
Visual, hearing and cognitive impairment                                                 1
Name: u_disabilities, Length: 569, dtype: int64

In [28]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5730 entries, 0 to 5729
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   membership_number  5730 non-null   object
 1   invoice_total      5730 non-null   float64
 2   funded_total       5730 non-null   float64
 3   subtraction        5730 non-null   float64
 4   u_disabilities     5730 non-null   object
 5   u_gender           5730 non-null   object
 6   price_zone_code    5730 non-null   object
 7   status             5730 non-null   object
dtypes: float64(3), object(5)
memory usage: 402.9+ KB

In [29]:
sub_0 = df2[df2['subtraction']> 1000]
#sub_0

sub_1 = df2[df2['subtraction']> 10000]
sub_1

#Set value for rows matching condition

#df2[['subtraction'] > 1000] == 'High'
#df2

,membership_number,invoice_total,funded_total,subtraction,u_disabilities,u_gender,price_zone_code,status
1,100348708,105389.55,48738.66,56650.89,others,Female,ACT_NSW_QLD_VIC,managed
3,100969245,430467.16,386833.71,43633.45,others,Female,ACT_NSW_QLD_VIC,managed
6,101391416,107771.99,94603.44,13168.55,Intellectual disability,Female,ACT_NSW_QLD_VIC,managed
9,101528743,17048064.52,5614195.49,11433869.03,others,,ACT_NSW_QLD_VIC,managed
11,101701683,61064.03,43086.19,17977.84,others,Female,NT_SA_TAS_WA,managed
...,...,...,...,...,...,...,...,...
5709,99728172,808981.78,471210.21,337771.57,others,Male,ACT_NSW_QLD_VIC,managed
5718,998565427,20985.75,8374.39,12611.36,others,,ACT_NSW_QLD_VIC,managed
5720,998763796,51599.64,32850.29,18749.35,others,,ACT_NSW_QLD_VIC,managed
5723,998987595,26453.97,13622.03,12831.94,"ADHD,",Male,NT_SA_TAS_WA,managed
5729,999781070,351476.09,328188.72,23287.37,others,Female,ACT_NSW_QLD_VIC,managed

In [67]:
# Modifications to D2
# To-Do
# ANTON		: ask about invoice total values, because some are just ridiculous
cleaned_df2 = df2

# gender		: Add "other" for blank or null values --> Male/Female/Other
cleaned_df2["u_gender"] = df2["u_gender"].replace([""],"others")
cleaned_df2["u_gender"] = df2["u_gender"].replace(["Other"], "others")
cleaned_df2["u_gender"].value_counts()

# status		: drop
cleaned_df2 = cleaned_df2.drop(columns=["status"])

# price_code	: drop, replace with SA4 and its information
cleaned_df2 = cleaned_df2.drop(columns=["price_zone_code"])
df_user_min = df_user[["membership_number", "SA4"]]
# Remove rows with blank SA1 - SA4 values
blankIndices = df_user_min[df_user_min["SA4"] == 0.0].index
df_user_min = df_user_min.drop(axis=0, labels=blankIndices)
# Drop rows with null SA1-4 values 
df_user_min = df_user_min.dropna()
# Drop rows with duplicate membership_number values 
df_user_min = df_user_min.drop_duplicates()
# Obtain geographical locations using SA4
df_sa4 = pd.read_csv("./TableDump/SA4_2016.csv")
# Extract relevant columns
df_sa4 = df_sa4[["SA4_CODE_2016", "SA4_NAME_2016", "GCCSA_NAME_2016", "STATE_NAME_2016"]]
# Rename columns to match df2
name_mapping = {
    "SA4_CODE_2016": "SA4",
    "SA4_NAME_2016": "SA4_NAME",
    "GCCSA_NAME_2016": "GCCSA_NAME",
    "STATE_NAME_2016": "STATE_NAME"
}
df_sa4 = df_sa4.rename(columns=name_mapping)
# Merge SA4 information with the user DF
df_user_min = pd.merge(df_user_min, df_sa4, on="SA4", how="left")
# Merge the final user info with DF2
cleaned_df2 = pd.merge(df2, df_user_min, on="membership_number", how="left")
# Display Summary information for df2_merged
# TODO: HANDLE NAN VALUES, AS SOME MEMBERSHIP NUMBERS HAVE NO CORRESPONDING GEOGRAPHICAL INFORMATION. OTHERWISE, DATAFRAME cleaned_df2 is clean
cleaned_df2.info()
# cleaned_df2.head(100)
# cleaned_df2["SA4"].value_counts()

# days_funded	: funded_date - start_date from , to get the duration of reimbursement


# disability	: simplify into "Intellectual disabilities" and "others"

# 1/ Reload data in 1 year duration

# 2/ Remap categories for subtraction, duration of reimbursement

# 3/ Remap the invoice total to underspending, over and approriate

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5730 entries, 0 to 5729
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   membership_number  5730 non-null   object
 1   invoice_total      5730 non-null   float64
 2   funded_total       5730 non-null   float64
 3   subtraction        5730 non-null   float64
 4   u_disabilities     5730 non-null   object
 5   u_gender           5730 non-null   object
 6   price_zone_code    5730 non-null   object
 7   status             5730 non-null   object
 8   SA4                3521 non-null   float64
 9   SA4_NAME           3521 non-null   object
 10  GCCSA_NAME         3521 non-null   object
 11  STATE_NAME         3521 non-null   object
dtypes: float64(4), object(8)
memory usage: 582.0+ KB

311.0    429
313.0    322
309.0    273
310.0    215
314.0    209
        ...
501.0      1
502.0      1
201.0      1
315.0      1
406.0      1
Name: SA4, Length: 88, dtype: int64

### Checking Claims_id and Providers link - making dataframe

In [32]:
'''
### All Claim details (took 2 minutes to execute)

df_all_claims = pd.read_sql("select c.id as claim_id, invoice_id as invoiceId, c.item_category_level3_id from HH_claim c", con=conn)

#print(df_all_claims.info())
#print(df_all_claims)
### All item_categories details. Took few seconds for execution.

##  
df_all_ndis_service_cat = pd.read_sql("select item_category_level3_id, ndis.registration_group from hedgehog_ndis_service_item_ref ndis", con=conn)
#print(df_all_ndis_service_cat.info())
#print(df_all_ndis_service_cat)

##Combine df_all_claims and df_all_ndis_service_cat
df_claimsWithProvider_details = pd.merge(df_all_claims, df_all_ndis_service_cat, on="item_category_level3_id", how= 'inner')
df_claimsWithProvider_details= df_claimsWithProvider_details.drop(columns=['item_category_level3_id'])
#df_claimsWithProvider_details = pd.read_sql("select c.id, c.invoice_id as invoiceId, n.registration_group from HH_claim c left join hedgehog_ndis_service_item_ref n on c.item_category_level3_id = n.item_category_level3_id;", con=conn)
#print(df_claimsWithProvider_details.info())
#print(df_claimsWithProvider_details)

### Provider Services details (Provider account linked to invoice and HH_provider) took 1 minute to execute
##  
df_providersWithInvoice_details = pd.read_sql("select i.id as invoiceId, i.provider_account_id, (select p.abn from HH_provider p where pa.provider_id= p.id) as provider_abn from HH_invoice i left join HH_provider_account pa on i.provider_account_id = pa.id;", con=conn)
#print(df_providersWithInvoice_details.info())
#print(df_providersWithInvoice_details)

##Combine df_claim_providers_details and df_providersWithInvoice_details
df_claims_provider_details= pd.merge(df_claimsWithProvider_details, df_providersWithInvoice_details, on="invoiceId", how="left")

##################################################

#Final claim and Provider df
print(df_claims_provider_details.info())
print(df_claims_provider_details)

'''

'\n### All Claim details (took 2 minutes to execute)\n\ndf_all_claims = pd.read_sql("select c.id as claim_id, invoice_id as invoiceId, c.item_category_level3_id from HH_claim c", con=conn)\n\n#print(df_all_claims.info())\n#print(df_all_claims)\n### All item_categories details. Took few seconds for execution.\n\n##  \ndf_all_ndis_service_cat = pd.read_sql("select item_category_level3_id, ndis.registration_group from hedgehog_ndis_service_item_ref ndis", con=conn)\n#print(df_all_ndis_service_cat.info())\n#print(df_all_ndis_service_cat)\n\n##Combine df_all_claims and df_all_ndis_service_cat\ndf_claimsWithProvider_details = pd.merge(df_all_claims, df_all_ndis_service_cat, on="item_category_level3_id", how= \'inner\')\ndf_claimsWithProvider_details= df_claimsWithProvider_details.drop(columns=[\'item_category_level3_id\'])\n#df_claimsWithProvider_details = pd.read_sql("select c.id, c.invoice_id as invoiceId, n.registration_group from HH_claim c left join hedgehog_ndis_service_item_ref n on c.item_category_level3_id = n.item_category_level3_id;", con=conn)\n#print(df_claimsWithProvider_details.info())\n#print(df_claimsWithProvider_details)\n\n### Provider Services details (Provider account linked to invoice and HH_provider) took 1 minute to execute\n##  \ndf_providersWithInvoice_details = pd.read_sql("select i.id as invoiceId, i.provider_account_id, (select p.abn from HH_provider p where pa.provider_id= p.id) as provider_abn from HH_invoice i left join HH_provider_account pa on i.provider_account_id = pa.id;", con=conn)\n#print(df_providersWithInvoice_details.info())\n#print(df_providersWithInvoice_details)\n\n##Combine df_claim_providers_details and df_providersWithInvoice_details\ndf_claims_provider_details= pd.merge(df_claimsWithProvider_details, df_providersWithInvoice_details, on="invoiceId", how="left")\n\n##################################################\n\n#Final claim and Provider df\nprint(df_claims_provider_details.info())\nprint(df_claims_provider_details)\n\n'