In [11]:
import pandas as pd
import pymysql

#######Connection to Client Database
host="qut-ds.c2m09j1oykve.ap-southeast-2.rds.amazonaws.com"
port=4005
dbname="qut_ds1"
user="qut_ds1"
password="GaAVSqC#9JR8"
conn = pymysql.connect(host=host, user=user,port=port,password=password, db=dbname)


print(conn)

<pymysql.connections.Connection object at 0x0000014115E7A1C0>

In [3]:
####Checking queries

###Customer Personal details
##  add the desired rows in the query from the three tables
df_customer_details = pd.read_sql("select s.u_disabilities, s.u_gender, s.u_date_of_birth, r.SA1, r.SA2, r.SA3,r.SA4  from SNOW_csm_consumer_user s left join  HH_member h  on s.u_ndis_number = h.membership_number left join libe_leapinprod_memberregion r on r.MemberId =  s.u_leapin_id where s.u_stage = 'li_managed' and s.u_ndis_number is not null;", con=conn) 
print(df_customer_details.info())
print(df_customer_details)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6241 entries, 0 to 6240
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   u_disabilities   6241 non-null   object
 1   u_gender         6241 non-null   object
 2   u_date_of_birth  6239 non-null   object
 3   SA1              6021 non-null   float64
 4   SA2              6021 non-null   float64
 5   SA3              6021 non-null   float64
 6   SA4              6021 non-null   float64
dtypes: float64(4), object(3)
memory usage: 341.4+ KB
None
            u_disabilities u_gender u_date_of_birth        SA1      SA2  \
0                                        1922-11-30  3100614.0  31006.0
1                                        2007-04-06  1144614.0  11446.0
2                            Female      1954-03-26        0.0      0.0
3                            Female      1978-12-24  3138504.0  31385.0
4                                        1995-08-18  2142119.0  21421.0
...                    ...      ...             ...        ...      ...
6236                         Female      1951-09-13        0.0      0.0
6237                         Female      1953-09-24        0.0      0.0
6238                         Female      1989-01-29  3131715.0  31317.0
6239                         Female      1938-10-29        0.0      0.0
6240  Permanent blindness,               2000-12-10        NaN      NaN

          SA3    SA4
0     30101.0  301.0
1     12303.0  123.0
2         0.0    0.0
3     31401.0  314.0
4     21701.0  217.0
...       ...    ...
6236      0.0    0.0
6237      0.0    0.0
6238  31103.0  311.0
6239      0.0    0.0
6240      NaN    NaN

[6241 rows x 7 columns]

In [13]:
###Invoice claim details
##  add the desired rows in the query from the three tables
df_invoice_claim_details = pd.read_sql("SELECT c.invoice_id, c.state, c.risk_score, c.risk_level, c.risk_warnings, c.unit_price, c.start_date, c.end_date, c.invoiced_units, c.invoiced_unit_price, c.claimed_units, c.claimed_unit_price, c.claimed_date, c.funded_amount, c.funded_date, c.submitted_date, c.approved_date, c.received_date, c.processed_status, c.reconcile_status, c.ndis_cancelled_date, c.cancel_offset_z4_no, i.state, i.is_pre_approved, i.is_resolved, i.is_risk_identified, i.risk_score, i.invoice_total, i.funded_total, i.funded_date, i.claimed_date, i.reviewed_date, i.invoice_date, i.approved_date, i.submitted_date, i.received_date, m.membership_number, m.status, m.risk_factor, m.price_zone_code FROM HH_claim c left join HH_invoice i on c.invoice_id = i.id left join HH_member m on i.member_id = m.id ;", con=conn) 
print(df_invoice_claim_details.info())
print(df_invoice_claim_details)

KeyboardInterrupt: