In [6]:
# Imported Libraries
import pandas as pd
import pymysql

# Data visualisation tools for later.
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from apyori import apriori

#######Connection to Client Database
host="qut-ds.c2m09j1oykve.ap-southeast-2.rds.amazonaws.com"
port=4005
dbname="qut_ds1"
user="qut_ds1"
password="GaAVSqC#9JR8"
conn = pymysql.connect(host=host, user=user,port=port,password=password, db=dbname)


print(conn)

<pymysql.connections.Connection object at 0x000002870A7BFDF0>

In [3]:
####Checking queries

###Customer Personal details
##  add the desired rows in the query from the three tables
df_customer_details = pd.read_sql("select s.u_disabilities, s.u_gender, s.u_date_of_birth, r.SA1, r.SA2, r.SA3,r.SA4  from SNOW_csm_consumer_user s left join  HH_member h  on s.u_ndis_number = h.membership_number left join libe_leapinprod_memberregion r on r.MemberId =  s.u_leapin_id where s.u_stage = 'li_managed' and s.u_ndis_number is not null;", con=conn) 
print(df_customer_details.info())
print(df_customer_details)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6241 entries, 0 to 6240
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   u_disabilities   6241 non-null   object
 1   u_gender         6241 non-null   object
 2   u_date_of_birth  6239 non-null   object
 3   SA1              6021 non-null   float64
 4   SA2              6021 non-null   float64
 5   SA3              6021 non-null   float64
 6   SA4              6021 non-null   float64
dtypes: float64(4), object(3)
memory usage: 341.4+ KB
None
            u_disabilities u_gender u_date_of_birth        SA1      SA2  \
0                                        1922-11-30  3100614.0  31006.0
1                                        2007-04-06  1144614.0  11446.0
2                            Female      1954-03-26        0.0      0.0
3                            Female      1978-12-24  3138504.0  31385.0
4                                        1995-08-18  2142119.0  21421.0
...                    ...      ...             ...        ...      ...
6236                         Female      1951-09-13        0.0      0.0
6237                         Female      1953-09-24        0.0      0.0
6238                         Female      1989-01-29  3131715.0  31317.0
6239                         Female      1938-10-29        0.0      0.0
6240  Permanent blindness,               2000-12-10        NaN      NaN

          SA3    SA4
0     30101.0  301.0
1     12303.0  123.0
2         0.0    0.0
3     31401.0  314.0
4     21701.0  217.0
...       ...    ...
6236      0.0    0.0
6237      0.0    0.0
6238  31103.0  311.0
6239      0.0    0.0
6240      NaN    NaN

[6241 rows x 7 columns]

In [7]:
###Invoice claim details
##  add the desired rows in the query from the three tables
df_invoice_claim_details = pd.read_sql("SELECT c.invoice_id, c.state, c.risk_score, c.risk_level, c.risk_warnings, c.unit_price, c.start_date, c.end_date, c.invoiced_units, c.invoiced_unit_price, c.claimed_units, c.claimed_unit_price, c.claimed_date, c.funded_amount, c.funded_date, c.submitted_date, c.approved_date, c.received_date, c.processed_status, c.reconcile_status, c.ndis_cancelled_date, c.cancel_offset_z4_no, i.state, i.is_pre_approved, i.is_resolved, i.is_risk_identified, i.risk_score, i.invoice_total, i.funded_total, i.funded_date, i.claimed_date, i.reviewed_date, i.invoice_date, i.approved_date, i.submitted_date, i.received_date, m.membership_number, m.status, m.risk_factor, m.price_zone_code FROM HH_claim c left join HH_invoice i on c.invoice_id = i.id left join HH_member m on i.member_id = m.id ;", con=conn)
print(df_invoice_claim_details.info())
print(df_invoice_claim_details)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 968874 entries, 0 to 968873
Data columns (total 40 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   invoice_id           968874 non-null  int64
 1   state                968874 non-null  object
 2   risk_score           968874 non-null  float64
 3   risk_level           968874 non-null  object
 4   risk_warnings        41285 non-null   object
 5   unit_price           968874 non-null  float64
 6   start_date           968874 non-null  object
 7   end_date             968874 non-null  object
 8   invoiced_units       966054 non-null  float64
 9   invoiced_unit_price  968874 non-null  float64
 10  claimed_units        965796 non-null  float64
 11  claimed_unit_price   968442 non-null  float64
 12  claimed_date         968328 non-null  object
 13  funded_amount        959417 non-null  float64
 14  funded_date          958743 non-null  object
 15  submitted_date       968803 non-null  datetime64[ns]
 16  approved_date        99003 non-null   object
 17  received_date        846942 non-null  object
 18  processed_status     556253 non-null  object
 19  reconcile_status     544462 non-null  object
 20  ndis_cancelled_date  0 non-null       object
 21  cancel_offset_z4_no  0 non-null       object
 22  state                968874 non-null  object
 23  is_pre_approved      968874 non-null  int64
 24  is_resolved          968874 non-null  int64
 25  is_risk_identified   968874 non-null  int64
 26  risk_score           968874 non-null  float64
 27  invoice_total        968874 non-null  float64
 28  funded_total         566458 non-null  float64
 29  funded_date          556790 non-null  object
 30  claimed_date         958734 non-null  object
 31  reviewed_date        899 non-null     object
 32  invoice_date         968874 non-null  object
 33  approved_date        956379 non-null  datetime64[ns]
 34  submitted_date       968874 non-null  datetime64[ns]
 35  received_date        846777 non-null  object
 36  membership_number    968874 non-null  object
 37  status               968874 non-null  object
 38  risk_factor          968874 non-null  float64
 39  price_zone_code      968874 non-null  object
dtypes: datetime64[ns](3), float64(11), int64(4), object(22)
memory usage: 295.7+ MB
None
        invoice_id                state  risk_score risk_level risk_warnings  \
0                1                 PAID         0.0         NO          None
1                2                 PAID         0.0         NO          None
2                3                 PAID         0.0         NO          None
3                4                 PAID         0.0         NO          None
4                5                 PAID         0.0         NO          None
...            ...                  ...         ...        ...           ...
968869      539315  OPERATOR_AUTHORIZED         0.0         NO          None
968870      539315  OPERATOR_AUTHORIZED         0.0         NO          None
968871      539315  OPERATOR_AUTHORIZED         0.0         NO          None
968872      539316  OPERATOR_AUTHORIZED         0.0         NO          None
968873      539316  OPERATOR_AUTHORIZED         0.0         NO          None

        unit_price  start_date    end_date  invoiced_units  \
0           160.00  2020-04-30  2020-04-30             1.0
1           160.00  2020-05-01  2020-05-01             1.0
2            80.00  2020-04-23  2020-04-23             1.0
3            80.00  2020-04-30  2020-04-30             1.0
4            80.00  2020-05-07  2020-05-07             1.0
...            ...         ...         ...             ...
968869       55.47  2021-04-08  2021-04-08             6.0
968870       77.81  2021-04-10  2021-04-10             6.0
968871      100.16  2021-04-11  2021-04-11             6.0
968872       55.47  2021-04-15  2021-04-15             6.0
968873        0.85  2021-04-15  2021-04-15            75.0

        invoiced_unit_price  ...  claimed_date  reviewed_date invoice_date  \
0                    160.00  ...    2020-04-30           None   2020-04-30
1                    160.00  ...    2020-05-04           None   2020-05-01
2                     80.00  ...    2020-05-07           None   2020-04-23
3                     80.00  ...    2020-05-07           None   2020-04-30
4                     80.00  ...    2020-05-08           None   2020-05-07
...                     ...  ...           ...            ...          ...
968869                55.47  ...          None           None   2021-04-15
968870                77.81  ...          None           None   2021-04-15
968871               100.16  ...          None           None   2021-04-15
968872                55.47  ...          None           None   2021-04-15
968873                 0.85  ...          None           None   2021-04-15

             approved_date      submitted_date        received_date  \
0      2020-04-30 02:56:15 2020-04-30 02:56:15  2020-04-30 00:00:00
1      2020-05-04 01:04:42 2020-05-04 01:04:42  2020-05-01 00:00:00
2      2020-05-07 04:36:02 2020-05-07 02:47:50  2020-05-06 00:00:00
3      2020-05-07 04:36:13 2020-05-07 02:48:45  2020-05-06 00:00:00
4      2020-05-08 01:23:24 2020-05-08 00:49:39  2020-05-07 00:00:00
...                    ...                 ...                  ...
968869 2021-04-19 09:25:29 2021-04-19 09:25:29  2021-04-15 00:00:00
968870 2021-04-19 09:25:29 2021-04-19 09:25:29  2021-04-15 00:00:00
968871 2021-04-19 09:25:29 2021-04-19 09:25:29  2021-04-15 00:00:00
968872 2021-04-19 09:26:45 2021-04-19 09:26:45  2021-04-15 00:00:00
968873 2021-04-19 09:26:45 2021-04-19 09:26:45  2021-04-15 00:00:00

       membership_number   status risk_factor  price_zone_code
0              277486509  managed         0.0  ACT_NSW_QLD_VIC
1              277486509  managed         0.0  ACT_NSW_QLD_VIC
2              815939440  managed         0.0  ACT_NSW_QLD_VIC
3              815939440  managed         0.0  ACT_NSW_QLD_VIC
4              815939440  managed         0.0  ACT_NSW_QLD_VIC
...                  ...      ...         ...              ...
968869         265655619  managed         0.0  ACT_NSW_QLD_VIC
968870         265655619  managed         0.0  ACT_NSW_QLD_VIC
968871         265655619  managed         0.0  ACT_NSW_QLD_VIC
968872         615053396  managed         0.0  ACT_NSW_QLD_VIC
968873         615053396  managed         0.0  ACT_NSW_QLD_VIC

[968874 rows x 40 columns]